/*
 *= require 'masonry/transitions'
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

$light-gray: #b8b8b8;
$btn-blue: #337ab7;
$almost-black: #262626;

body {
	background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	color: #529ECC;
	font-weight: bold;
	text-align: center;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(82,158,204, 0.22);
	box-color: #529ECC;
	background: #529ECC;

	.navbar-brand {
		a {
			color: #529ECC;
			font-weight: bold;
			font-size: 1.6em;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.ml-5 {
	margin-left: 5px;
}

.mtb-10 {
	margin: 10px 0 10px;
}

#pics {
  margin: 0 auto;
  width: 100%;
}

.pic {
	width: 350px;
  box-shadow: 0 1px 2px 0 rgba(184,184,184, 0.5);
  border-radius: 2px;
  text-align: center;
  margin: 0 auto 10px;
  
  img {
  	max-width: 100%;
  	height: auto;
  }
  .panel-body {
  	padding: 0;
  }
  .panel-footer {
  	background-color: initial; 
    border-top: none;

  	a {
			color: #529ECC;
  	}
  }
	.avatar-round {
		background-color: #fafafa;
	  background-color: rgba(var(--b3f,250,250,250),1);
	  border-radius: 50%;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  display: inline-block;
	  float: left;
	  overflow: hidden;
	  position: relative;
	  width: 32px;
	  height: 32px;
		margin-right: 14px;
		&::after {
		  border: 1px solid rgba(var(--jb7,0,0,0),.0975);
		  border-radius: 50%;
		  bottom: 0;
		  content: '';
		  left: 0;
		  pointer-events: none;
		  position: absolute;
		  right: 0;
		  top: 0;
		}
	}
  .handle-wrapper {
  	flex: 0 0 auto;
  	position: relative;
  	overflow: hidden;
  	text-align: left;

  	a, a:hover {
  		color: $almost-black;
  		text-decoration: none;
  	}
  	.fa-ellipsis-h {
  		position: absolute;
    	top: 0;
    	right: 0;
    	margin: 8px 0;
    	line-height: 20px;
    	font-size: 12px;
    	color: $almost-black;
    	&.grayed-out {
    		color: $light-gray;
    		pointer-events: none;
    	}
  	}
  }
  .actions-wrapper {
		display: flex;
  }
  .fa-heart-wrapper {
    line-height: 1em;
  }
  .fa-heart {
    line-height: 20px;
  	font-size: 1.75em;
  	&.fas {
  		color: red;
  	}
  	&.far {
  		color: $light-gray;
  	}
  }
	.time-ago {
		text-transform: uppercase;
		text-align: left;
		font-size: 0.75em;
		line-height: 1.75em;
		color: $light-gray;
		margin-top: 8px;
	}
}

input[type='file'] {
  font-size: 0.75em;
  line-height: 1em;
}

.profile-info {
	display: inline-block;

	input[type='file'] {
	  font-size: 1em;
	  line-height: 1.5em;
	  color: white;

	  &:focus {
	  	outline: none;
	  }
	}
	#user_avatar::before {
		content: 'Change Profile Photo';
	  position: absolute;
	  background: white;
	  color: $btn-blue;
	  font-weight: 600;
	  line-height: 2em;
	  cursor: pointer;
	}
}

.avatar, .handle-group {
	display: inline-block;
	float: left;
}

.avatar {
	border: 1px solid #d3d3d3;
	margin-right: 10px;
}

.handle {
	font-weight: 600;
	line-height: 1em;
}

.form-group {

	.hint {
		text-transform: capitalize;
		font-size: 0.75em;
    color: gray;
	}
	input, .input {
		width: 300px;
	}
}

#edit_page {
	.caption {
		font-size: 0.85em;
	}
	.image-block {
		display: block;
	}
	.form-group {
		margin-bottom: 0;
	}
	.profile-menu {
		ul {
			list-style: none;
		}
	}
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
	.row {
		line-height: 2.5em;
	}
	.title, .input {
		display: inline-block;
	}
	.title {
		font-weight: 600;
		min-width: 35px;
	}
	.description {
		line-height: 1.5em;
	}
	.grayed-out {
		color: $light-gray;
	}
	@media (min-width: 768px) {
		.container {
		   width: initial; 
		}
	}
}

#pic_show {
	.panel-heading {
		padding: 0;
	}
	.pic_image {
		img {
			max-width: 350px;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
			color: #529ECC;
			font-weight: bold;
		}
		.description {
			color: #253567;
			font-weight: bold;
			line-height: 1.75;
			margin: 0;
			text-align: center;
		}
	}
	.panel-footer {
		padding: 20px 25px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 2px;
			font-weight: bold;
			text-align: center;

		}
	}
}